{% extends 'base.html' %}

{% block content %}
    <h3 class='text-center'>Ваш предварительный заказ</h3>
    <br>
<table width="100%" border="0" cellpadding="4">
<tr>
    <td calss='text-center'><strong>Товар </strong></td>
    <td calss='text-center'><strong>Кол-во </strong>
    <td calss='text-center'><strong>Цена </strong></td>
    <td calss='text-center'></td>
</tr>
{% for item in cart.items.all %}
    <tr>
        <td calss='text-center'>{{ item.product.title }} руб.</td>
        <td calss='text-center'>{{ item.qty }}</td>
        <td calss='text-center'>{{ item.item_total }}</td>
        <td></td>
    </tr>
{% endfor %}
<tr>
    <td class="text-center"></td>
    <td class='text-left'><strong>Итого:</strong></td>
    <td class="text-left"><strong>{{ cart.cart_total }} руб.</strong></td>
    <td class="text-center"></td>
</tr>
</table>
    <a href="{% url "create_order" %}" class="pull-right"><button class="btn btn-success">Оформить заказ</button></a>
{% endblock %}